body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, a, li, ul, span, legend {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none; }

p {
  font-size: 14px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

.container {
  width: 93.75%;
  margin: 0 auto; }

.container-fluid {
  margin: 0 auto; }
  @media all and (min-width: 320px) and (max-width: 496px) {
    .container-fluid {
      width: 93.75%; } }
  @media all and (min-width: 497px) and (max-width: 768px) {
    .container-fluid {
      width: 100%; } }

.heading-closer, .heading-further {
  color: #444;
  font-size: 22px;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.heading-closer {
  margin-bottom: 15px; }

.heading-further {
  margin-bottom: 35px; }

@media all and (min-width: 320px) and (max-width: 496px) {
  .instruction--steps--step {
    margin-top: 10px;
    position: relative; }
    .instruction--steps--step .overlay {
      position: relative; }
      .instruction--steps--step .overlay .gradient {
        position: absolute;
        z-index: 2;
        background: linear-gradient(#ff4e50, #f9d423);
        width: 100%;
        height: 99%;
        opacity: .06; }
      .instruction--steps--step .overlay img {
        position: relative;
        width: 100%; }
    .instruction--steps--step .review {
      position: absolute;
      bottom: 22px;
      left: 20px; }
      .instruction--steps--step .review span {
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 4px 12px 4px 14px;
        background-color: #ff4e50;
        border-radius: 40px; }
      .instruction--steps--step .review h2 {
        color: #fff;
        margin: 15px 0 12px; }
      .instruction--steps--step .review p {
        color: #e3e3e3;
        width: 250px; } }

@media all and (min-width: 320px) and (max-width: 496px) {
  .slider--top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap; }
    .slider--top .userMenu {
      padding-top: 29px;
      padding-bottom: 97px; }
      .slider--top .userMenu a {
        color: #fff;
        font-size: 14px;
        margin-right: 20px; }
      .slider--top .userMenu span {
        padding: 9px 18px;
        border: 1px solid #fff;
        border-radius: 40px; }
    .slider--top h4 {
      color: #fff;
      text-transform: uppercase;
      margin: 0 auto 26.5px; } }

@media all and (min-width: 320px) and (max-width: 496px) {
  .hobby1, .hobby2, .hobby3, .hobby4 {
    position: absolute;
    right: 58px;
    top: 88px;
    width: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 50%;
    text-align: center; }

  .hobby1 {
    background-color: #ff4e50; }

  .hobby2 {
    background-color: #ffa710; }

  .hobby3 {
    background-color: #19d4ca; }

  .hobby4 {
    background-color: #667df3; } }
@media all and (min-width: 320px) and (max-width: 496px) {
  .partners--list--partner {
    width: 236px;
    margin: 16px auto 0;
    text-align: center; }
    .partners--list--partner .avatar {
      position: relative; }
    .partners--list--partner .name {
      color: #444;
      padding: 17px 0 13px; }
    .partners--list--partner p {
      color: #666;
      letter-spacing: 0; } }

.btn-fullfill, .btn-bordered {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 40px;
  margin: 0 auto;
  padding: 11px 0;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif; }

.btn-fullfill {
  background-color: #ff4e50;
  color: #fff; }

.btn-bordered {
  color: #ff4e50;
  border: 2px solid #ff4e50; }

@media all and (min-width: 320px) and (max-width: 496px) {
  .holidays--idea {
    margin: 0 auto 10px;
    position: relative;
    width: 100%; }
    .holidays--idea img {
      width: 100%;
      height: 120px;
      max-height: 200px;
      object-fit: cover;
      object-position: top; }
    .holidays--idea h3 {
      width: 75%;
      text-align: center;
      color: #fff;
      line-height: 26px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); } }

.search {
  width: 100%; }
  .search input[type=text] {
    width: 95.75%;
    padding: 15px 0 15px 11px;
    font-size: 14px;
    color: #999;
    outline: none;
    margin-top: 22px; }
  .search input[type=submit] {
    margin: 10px auto 40px;
    outline: none;
    border: 0; }
    .search input[type=submit]:hover {
      box-shadow: inset 2px 2px 2px #ff773c; }

.linkList h4 {
  color: #444;
  font-size: 14px;
  margin: 12px 0 2px; }
.linkList ul {
  width: 200px;
  margin: 0 auto 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
.linkList li a {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  flex-shrink: 2;
  color: #999; }

@media all and (min-width: 320px) and (max-width: 496px) {
  .slider {
    width: 100%;
    height: 540px;
    background: url("../images/slider-img.png") no-repeat center;
    background-size: cover;
    background-color: #000; }
    .slider--description {
      display: flex;
      flex-flow: column wrap;
      text-align: center; }
      .slider--description h1 {
        color: #fff;
        text-transform: uppercase; }
      .slider--description h5 {
        color: #fff;
        margin: 5.5px 0 15px; }

  .instruction--steps {
    display: flex;
    flex-flow: column nowrap; }

  .partners--list {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 23px; }

  .holidays {
    display: flex;
    flex-flow: column wrap; }

  .createActivity {
    text-align: center; }
    .createActivity h5 {
      color: #666;
      letter-spacing: 0;
      line-height: 14px; }

  .footer {
    text-align: center;
    border-top: 2px solid #ff4e50; }
    .footer h5 {
      color: #ff4e50;
      text-transform: uppercase;
      text-align: center;
      margin: 20px auto 7px; }
    .footer a {
      font-size: 14px;
      color: #444;
      text-align: center;
      margin-top: 5px; }
      .footer a img {
        padding-bottom: 22px; }
    .footer span {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      color: #ccc;
      letter-spacing: 1px;
      margin: 13px auto 7px; } }
@media all and (min-width: 497px) and (max-width: 768px) {
  .slider {
    width: 100%;
    height: 540px;
    background: url("../images/slider-img.png") no-repeat center;
    background-size: cover;
    background-color: #000; }
    .slider .top {
      display: flex;
      justify-content: center;
      padding-top: 29px; }
      .slider .top a {
        color: #fff;
        font-size: 14px;
        margin-right: 20px; }
      .slider .top span {
        padding: 9px 18px;
        border: 1px solid #fff;
        border-radius: 40px; }
    .slider .headings {
      display: flex;
      flex-flow: column wrap;
      text-align: center; }
      .slider .headings h1 {
        color: #fff;
        font-size: 30px;
        text-transform: uppercase; }
      .slider .headings h5 {
        color: #fff;
        font-size: 18px;
        margin: 5.5px 0 15px; } }

/*# sourceMappingURL=main.css.map */
