//colors
$white: #fff;
$black: #000;
$theme: #ff4e50;
$heading: #444;
$yellow: #f9d423;
$orange: #ffa710;
$orange2: #ff773c;
$tiffany: #19d4ca;
$purple: #667df3;
$evil-grey: #666;
$dirty-white: #e3e3e3;
$grey9: #999;
$grey-c: #ccc;
