.holidays {
  display: flex;
  flex-flow: row wrap;
  &--idea {
    @extend %idea;
    width: 30.73%;
  }
  .extended {
    flex-basis: 64.0625%;
  }
}


@media all and (min-width: 320px) and (max-width: 496px) {
  .holidays {
    flex-flow: column wrap;
    &--idea {
      width: 100%;
    }
  }
}
