.footer {
  display: flex;
  justify-content: space-around;
  padding: 37px 0 20px;
  border-top: 2px solid $theme;
  h5 {
    color: $theme;
    text-transform: uppercase;
  }
  .producer {
    width: 20%;
    text-align: right;
    span {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      color: $grey-c;
      letter-spacing: 1px;
      margin-bottom: 7px;
    }
    a {
      font-size: 14px;
      color: $heading;
      margin-top: 5px;
      padding-bottom: 22px;
    }
  }
}



@media all and (min-width: 320px) and (max-width: 496px) {
  .footer {
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid $theme;
    .producer {
      width: 100%;
      text-align: center;
      span {
        margin: 13px 0 7px;
      }
    }
  }
}
