%btn {
  display: block;
  width: 225px;
  text-align: center;
  border-radius: 40px;
  padding: 11px 0;
  color: $white;
  font-size: 14px;
  font-family: sans-serif;
}

.btn-fullfill {
  @extend %btn;
  background-color: $theme;
  color: $white;
}

.btn-bordered {
  @extend %btn;
  color: $theme;
  width: 180px;
  border: 2px solid $theme;
}

.btn-centered {
  margin: 0 auto;
}

@media all and (min-width: 320px) and (max-width: 496px) {
  .btn-fullfill {
    width: 100%;
  }
  .btn-bordered {
    width: 100%;
  }
}
