%heading {
  width: 100%;
  color: $heading;
  font-size: 22px;
  margin: {
    top: 35px;
    right: auto;
    left: auto;
  }
  text-align: center;
}

.heading-closer {
  @extend %heading;
  margin: 95px 0 35px;
}

.heading-further {
  @extend %heading;
  margin: 95px 0 35px;
}

@media all and (min-width: 320px) and (max-width: 496px) {
  .heading-closer {
    margin: 35px 0 15px;
  }
  .heading-further {
    margin: 35px 0;
  }
}
