@import '../variables';

@media all and (min-width: 320px) and (max-width: 496px) {
  %hobby {
    position: absolute;
    right: 58px;
    top: 88px;
    width: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
  }
  .hobby1 {
    @extend %hobby;
    background-color: $theme;
  }
  .hobby2 {
    @extend %hobby;
    background-color: $orange;
  }
  .hobby3 {
    @extend %hobby;
    background-color: $tiffany;
  }
  .hobby4 {
    @extend %hobby;
    background-color: $purple;
  }
}
