@import 'hobbies';

%partner {
  @media all and (min-width: 320px) and (max-width: 496px) {
    width: 236px;
    margin: 16px auto 0;
    text-align: center;
    .avatar {
      position: relative;
    }
    .name {
      color: $heading;
      padding: 17px 0 13px;
    }
    p {
      color: $evil-grey;
      letter-spacing: 0;
    }
  }
}
