@import '../variables';

.search {
  display: flex;
  input[type=text] {
    padding: 12px 0 12px 11px;
    font-size: 14px;
    color: $grey9;
    outline: none;
  }
  input[type=submit] {
    outline: none;
    border: 0;
    cursor: pointer;
    &:hover {
      box-shadow: inset 2px 2px 2px $orange2;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 496px) {
  .search {
    flex-flow: column wrap;
    input[type=text] {
      width: 95.75%;
      margin-top: 22px;
    }
    input[type=submit] {
      margin: 10px auto 40px;
    }
  }
}

@media all and (min-width: 497px) and (max-width: 768px) {
  .search {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    input[type=text] {
      width: 60%;
    }
    input[type=submit] {
      width: 35%;
    }
  }
}

@media all and (min-width: 769px) {
  .search {
    flex-direction: row;
    justify-content: space-between;
    width: 482px;
    margin: 25px auto 100px;
    input[type=text] {
      width: 60%;
    }
    input[type=submit] {
      width: 35%;
    }
  }
}
